/*.header-area img{
	height: 75px;
}*/
.home .mv_search_form .form-control
.group_div .from_address{
	margin-top:0!important;
}
.criteria.criteria-bg.section-padding.criteria_section_stl{
	width:100%!important;
}
.icon img{
	width:100%!important;
}
.home .mv_search_form .form-control{
	line-height:0!important;
	}
	.howit_icons{
		position:absolute;
		left:50%;
	}